
.userFormMain {
    padding-top: 50px;
    padding-bottom: 20px;
}
.userFormMain>div {
    width: 250px;
    margin: auto;
    padding: 10px;
    box-shadow: 0 0 10px black;
}

.userFormMain>div>h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 200px;
    margin: auto;
}

form>input {
    margin-top: 25px;
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: 1px solid gray;
}

form>div {
    display: flex;
    flex-direction: column;
}

form>div>label {
    margin-bottom: 8px;
}
form>div>input {
    background: transparent;
    outline: none;
    border: 1px solid gray;
    border-radius: 3px;
    padding: 10px;
}

.validationMessage {
    margin-top: 2px;
    color: red;
    font-size: 14px;
    line-height: 14px;
}



/* styles for dark mode */

.userFormMain-dark {
    background-color: rgb(41, 40, 40);
    color: white;
}
.userFormMain-dark>div>form input {
    color: white;
}